<div class="container">
    <div [hidden]="submitted">
      <h1>Actor Form</h1>
      <form (ngSubmit)="onSubmit()" #actorForm="ngForm">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name"
                 required [(ngModel)]="model.name" name="name"
                 #name="ngModel">
          <div [hidden]="name.valid || name.pristine"
               class="alert alert-danger">
            Name is required
          </div>
        </div>
        <div class="form-group">
          <label for="value">Value Affiliation</label>
          <input type="text" class="form-control" id="value"
                 [(ngModel)]="model.value" name="value">
        </div>
        
        <button type="submit" class="btn btn-success"
          [disabled]="!actorForm.form.valid">Submit</button>
        <button type="button" class="btn btn-default"
          (click)="newActor(); actorForm.reset()">New Actor</button>
        <em>with</em> reset
          
        <button type="button" class="btn btn-default"
          (click)="newActor()">New Actor</button>
        <em>without</em> reset
       <!-- NOT SHOWN IN DOCS -->
        <div>
          <hr>
          Name via form.controls = {{ showFormControls(actorForm) }}
        </div>
       <!-- - -->
      </form>
    </div>
    <div [hidden]="!submitted">
      <h2>You submitted the following:</h2>
      <div class="row">
        <div class="col-xs-3">Name</div>
        <div class="col-xs-9">{{ model.name }}</div>
      </div>
      <div class="row">
        <div class="col-xs-3">Value</div>
        <div class="col-xs-9">{{ model.value }}</div>
      </div>
      <div class="row">
        <div class="col-xs-3">Skill</div>
        <div class="col-xs-9">{{ model.skill }}</div>
      </div>
      <br>
      <button type="button" class="btn btn-primary" (click)="submitted=false">
        Edit
      </button>
    </div>
  </div>
  <!-- ====================================================  -->
    <div>
      <form>
         <!-- ... all of the form ... -->
      </form>
    </div>
  <!-- ====================================================  -->
  <hr>
  <style>
    .no-style .ng-valid {
    border-left: 1px  solid #CCC
  }
    .no-style .ng-invalid {
    border-left: 1px  solid #CCC
  }
  </style>
  <div class="no-style" style="margin-left: 4px">
    <div class="container">
        <h1>Actor Form</h1>
        <form>
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" required>
          </div>
          <div class="form-group">
            <label for="value">Value</label>
            <input type="text" class="form-control" id="value">
          </div>
          <div class="form-group">
            <label for="skill">Skill</label>
            <select class="form-control" id="skill" required>
              <option *ngFor="let skill of skills" [value]="skill">{{ skill }}</option>
            </select>
          </div>
          <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </div>
    <!-- ====================================================  -->
    <hr>
    <div class="container">
        <h1>Actor Form</h1>
        <form #actorForm="ngForm">
          {{ model | json }}
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name"
                   required
                   [(ngModel)]="model.name" name="name">
          </div>
          <div class="form-group">
            <label for="value">Value</label>
            <input type="text"  class="form-control" id="value"
                   [(ngModel)]="model.value" name="value">
          </div>
          <div class="form-group">
            <label for="skill">Skill</label>
            <select class="form-control"  id="skill"
                    required
                    [(ngModel)]="model.skill" name="skill">
              <option *ngFor="let skill of skills" [value]="skill">{{ skill }}</option>
            </select>
          </div>
          <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </div>
    <!-- EXTRA MATERIAL FOR DOCUMENTATION -->
    <hr>
      <input type="text" class="form-control" id="name"
             required
             [(ngModel)]="model.name" name="name">
      TODO: remove this: {{ model.name}}
    <hr>
      <input type="text" class="form-control" id="name"
             required
             [ngModel]="model.name" name="name"
             (ngModelChange)="model.name = $event">
      TODO: remove this: {{ model.name}}
  </div>