<div class="container">
   <form [formGroup]="modelForm">
    <div>
      <mat-form-field class="example-form-field">
        <mat-label>Clearable input</mat-label>
        <input matInput type="text" formControlName="name">
        @if (modelForm.value.name !== '') {
          <button matSuffix mat-icon-button aria-label="Clear" (click)="clearFormElement('name')">
            <mat-icon>close</mat-icon>
          </button>
          }
      </mat-form-field>
      <div class="col-xs-9">{{ modelForm.get('name')?.value }}</div>
    </div>
  </form>
</div>